#ACBF配置文件说明
#只需要把不想替换的类注释掉就可以屏蔽这个修复

#神秘工匠无底袋
thaumic.tinkerer.common.block.tile.container.kami.ContainerIchorPouch classResource/ContainerIchorPouch.class

#神秘工匠渗透附魔台
thaumic.tinkerer.common.network.packet.PacketEnchanterStartWorking classResource/PacketEnchanterStartWorking.class

#植物魔法饰品盒
vazkii.botania.client.gui.box.ContainerBaubleBox classResource/ContainerBaubleBox.class

#植物魔法采花袋
vazkii.botania.client.gui.bag.ContainerFlowerBag classResource/ContainerFlowerBag.class

#沉浸工程工程师装配台
blusunrize.immersiveengineering.common.gui.InventoryStorageItem classResource/InventoryStorageItem.class
blusunrize.immersiveengineering.common.gui.ContainerModWorkbench classResource/ContainerModWorkbench.class

#沉浸工程工程师工具箱
blusunrize.immersiveengineering.common.gui.ContainerToolbox classResource/ContainerToolbox.class

#神秘视界变形之戒
com.kentington.thaumichorizons.common.container.ContainerFingers classResource/ContainerFingers.class

#通用机械箱柜
mekanism.common.recipe.BinRecipe classResource/BinRecipe.class

#通用机械化学清洗机
mekanism.common.inventory.container.ContainerChemicalWasher classResource/ContainerChemicalWasher.class

#通用机械储罐
mekanism.common.inventory.container.ContainerFluidTank classResource/ContainerFluidTank.class

#星系降落箱
micdoodle8.mods.galacticraft.core.entities.EntityParachest classResource/EntityParachest.class

#神秘时代傀儡
thaumcraft.common.entities.golems.EntityGolemBase classResource/EntityGolemBase.class
thaumcraft.common.entities.golems.ItemGolemBell classResource/ItemGolemBell.class

#神秘时代奥术工作台
thaumcraft.common.container.ContainerArcaneWorkbench classResource/ContainerArcaneWorkbench.class
thaumcraft.common.tiles.TileMagicWorkbench classResource/TileMagicWorkbench.class

#应用能源成型面板
appeng.parts.automation.PartFormationPlane classResource/PartFormationPlane.class

#应用能源合成单元
appeng.tile.crafting.TileCraftingTile classResource/TileCraftingTile.class

#末影接口灵魂瓶
crazypants.enderio.item.ItemSoulVessel classResource/ItemSoulVessel.class

#末影接口灵魂绑定
com.rwtema.extrautils.crafting.RecipeUnEnchanting classResource/RecipeUnEnchanting.class
thaumic.tinkerer.common.item.SpellClothCraftingHandler classResource/SpellClothCraftingHandler.class
thaumic.tinkerer.common.item.SpellClothRecipe classResource/SpellClothRecipe.class
vazkii.botania.common.crafting.recipe.SpellClothRecipe classResource/SpellClothRecipe2.class

#和风供盘
ruby.bamboo.entity.EntityObon classResource/EntityObon.class

#龙之进化刷拔刀
com.brandon3055.draconicevolution.common.network.PlacedItemPacket$Handler classResource/PlacedItemPacket$Handler.class

#时装工坊GUI
riskyken.armourersWorkshop.common.tileentities.AbstractTileEntityInventory classResource/AbstractTileEntityInventory.class
riskyken.armourersWorkshop.common.inventory.ContainerSkinnable classResource/ContainerSkinnable.class
riskyken.armourersWorkshop.common.inventory.ContainerGlobalSkinLibrary classResource/ContainerGlobalSkinLibrary.class
riskyken.armourersWorkshop.common.inventory.ContainerSkinningTable classResource/ContainerSkinningTable.class

#食物工艺菜板
com.cfyifei.gui.tileentitys.TileEntityCaiban classResource/TileEntityCaiban.class
com.cfyifei.gui.containers.ContainerCaiban classResource/ContainerCaiban.class

#热力膨胀循环装配台
cofh.thermalexpansion.block.machine.TileAssembler classResource/TileAssembler.class

#更好的熔炉容量升级
at.flabs.betterfurnaces.core.TileEntityBetterFurnace classResource/TileEntityBetterFurnace.class

#无尽贪婪中子太素压缩机
fox.spiteful.avaritia.gui.ContainerCompressor classResource/ContainerCompressor.class

#林业信件与背包
forestry.core.inventory.ItemInventory classResource/ItemInventory.class

#等价交换座修复
moze_intel.projecte.gameObjs.container.TransmutationContainer classResource/TransmutationContainer.class

#枫树剪刀
ecru.MapleTree.item.ecru_ItemMomijiShears classResource/ecru_ItemMomijiShears.class

#枫树宝宝
ecru.MapleTree.entity.ecru_EntityMomiji classResource/ecru_EntityMomiji.class

#豆腐工艺
tsuteto.tofu.item.BatchDigging classResource/BatchDigging.class

#林业木工机
forestry.core.utils.ItemStackUtil classResource/ItemStackUtil.class